<h1><%= t('clients.index.client_list')%></h1>


<%= link_to t('.new_client'), new_client_path, class: 'btn btn-primary'%>
<br/>
<table class="table table-hover">
    <thead class="thead-ligh">
    <tr>
        <th scope="col"><%= Client.human_attribute_name('name') %></th>
        <th scope="col"><%= Client.human_attribute_name('last_name') %></th>
        <th scope="col"></th>
    </tr>
    <thead>
    <tbody>
    <% @clients.each do |client| %>
        <tr>
            <td><%=client.name%></td>
            <td><%=client.last_name%></td>
            <td>
                <%=link_to t('common.edit'), edit_client_path(client)%> |
                <%=link_to t('payments.menu_label'), client_payments_path(client)%>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>